
body{
    width : 100%;
    height:  100%;
    font-size : 14px;
}

.m-t-lg{
    margin-top :  40px;
}
.border {
  border: 1px solid #dddddd;
  position: relative;
}

.left-arrow, .right-arrow {
position: absolute;
top: 50%;
transform: translateY(-50%);
font-size: xx-large;
}
.left-arrow {
    left: 10px;
}
.right-arrow {
    right: 10px;
}

.btn-outlined.btn-danger {
  background: none;
  border: 3px solid #d9534f;
  color: #d9534f;
}
.btn-outlined.btn-danger:hover,
.btn-outlined.btn-danger:active {
  color: #FFF;
  background: #d2322d;
}

.btn-outlined.btn-success {
  background: none;
  border: 3px solid #5cb85c;
  color: #5cb85c;
}
.btn-outlined.btn-success:hover,
.btn-outlined.btn-success:active {
  color: #FFF;
  background: #47a447;
}

.glyphicon {
    font-size: xx-large;
}